/* screen - desktop-s-1280px */

.desktop-s-1280px {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.desktop-s-1280px .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1325px;
  width: 1280px;
}

.desktop-s-1280px .navlink {
  align-items: center;
  background-color: var(--brand--blue);
  border: 1px none;
  display: flex;
  height: 40px;
  min-width: 1280px;
  padding: 0 32px;
}

.desktop-s-1280px .wraping {
  align-items: center;
  border: 1px none;
  display: flex;
  justify-content: space-between;
  width: 1216px;
}

.desktop-s-1280px .menu {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 24px;
}

.desktop-s-1280px .hubungi-kami {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 98px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .faq {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 28px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .frame-194 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 24px;
}

.desktop-s-1280px .bahasa {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 4px;
}

.desktop-s-1280px .globe {
  height: 18px;
  min-width: 18px;
}

.desktop-s-1280px .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 69px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .chevron-down {
  height: 16px;
  min-width: 16px;
}

.desktop-s-1280px .devider {
  height: 18px;
  min-width: 1px;
}

.desktop-s-1280px .sosmed {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
}

.desktop-s-1280px .sosmed-item {
  height: 20px;
  min-width: 20px;
}

.desktop-s-1280px .social-media {
  border: 1px none;
  height: 20px;
  min-width: 20px;
  position: relative;
}

.desktop-s-1280px .icon-instagram {
  height: 17px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.desktop-s-1280px .exclude {
  height: 12px;
  left: 1px;
  position: absolute;
  top: 4px;
  width: 17px;
}

.desktop-s-1280px .mega-navbar {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 136px;
  width: 1280px;
}

.desktop-s-1280px .logo {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-right: 1.0px;
  margin-top: 24px;
}

.desktop-s-1280px .logo-1 {
  height: 40px;
  min-width: 40px;
}

.desktop-s-1280px .overlap-group-1 {
  height: 40px;
  position: relative;
  width: 40px;
}

.desktop-s-1280px .vector {
  height: 36px;
  left: 20px;
  position: absolute;
  top: 1px;
  width: 15px;
}

.desktop-s-1280px .vector-1 {
  height: 36px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 27px;
}

.desktop-s-1280px .vector-2 {
  height: 38px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop-s-1280px .container-1 {
  border: 1.25px none;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.desktop-s-1280px .vector-3 {
  height: 23.52px;
  min-width: 193.81px;
}

.desktop-s-1280px .overlap-group6 {
  height: 56px;
  margin-top: 16px;
  position: relative;
  width: 1280px;
}

.desktop-s-1280px .line-bottom {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 55px;
  width: 1280px;
}

.desktop-s-1280px .menu-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 4px;
  left: 32px;
  position: absolute;
  top: 0;
}

.desktop-s-1280px .home {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-s-1280px .wrap-label {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 4px;
  padding: 16px;
}

.desktop-s-1280px .label {
  color: var(--brandgreen);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 40px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .line-bottom-1 {
  align-self: stretch;
  height: 2px;
  min-width: 72px;
}

.desktop-s-1280px .menu-item {
  align-items: center;
  border: 1px none;
  display: flex;
  height: 56px;
  justify-content: center;
  padding: 16px;
}

.desktop-s-1280px .label-1 {
  color: var(--mine-shaft);
  cursor: pointer;
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 35px;
  text-align: center;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.desktop-s-1280px .label-1:hover {
  color: #009b4c
}

.desktop-s-1280px .label-2 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 40px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .label-3 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 101px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .label-4 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 93px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .label-5 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 107px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .label-6 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 111px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .label-7 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 55px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .label-8 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 182px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .label-9 {
  color: var(--mine-shaft);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 96px;
  text-align: center;
  white-space: nowrap;
}

.desktop-s-1280px .jumbotron {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--concrete);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 612px;
  margin-top: 32px;
  overflow: hidden;
  width: 1216px;
}

.desktop-s-1280px .image {
  height: 486px;
  object-fit: cover;
  width: 1216px;
}

.desktop-s-1280px .the-25th-expert-circ {
  color: var(--mine-shaft);
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  margin-top: 23px;
  text-align: center;
  white-space: nowrap;
  width: 1168px;
}

.desktop-s-1280px .indicator {
  align-items: flex-start;
  display: flex;
  margin-top: 25px;
  min-width: 72px;
}

.desktop-s-1280px .ellipse-4 {
  align-self: flex-end;
  background-color: var(--green-haze);
  border: 1px none;
  border-radius: 4px;
  height: 8px;
  margin-bottom: 0;
  width: 8px;
}

.desktop-s-1280px .ellipse {
  background-color: var(--green-haze);
  border: 1px none;
  border-radius: 4px;
  height: 8px;
  margin-left: 8px;
  width: 8px;
}

.desktop-s-1280px .ellipse-2 {
  background-color: var(--brandgreen);
  border: 1px none;
  border-radius: 4px;
  height: 8px;
  margin-left: 8px;
  width: 8px;
}

.desktop-s-1280px .heading-2 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 56px;
  margin-top: 32px;
  overflow: hidden;
  width: 1216px;
}

.desktop-s-1280px .overlap-group1 {
  height: 44px;
  margin-bottom: 0;
  position: relative;
  width: 1216px;
}

.desktop-s-1280px .overlap-group-2 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.desktop-s-1280px .border-bottom-3 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 1216px;
}

.desktop-s-1280px .heading {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 0;
  position: absolute;
  top: 0;
}

.desktop-s-1280px .heading-3 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .border-bottom-4 {
  align-self: stretch;
  height: 1px;
  min-width: 85px;
  object-fit: cover;
}

.desktop-s-1280px .frame-200 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 12px;
  left: 1156px;
  position: absolute;
  top: 4px;
}

.desktop-s-1280px .arrow-left-circle {
  border: 1px none;
  height: 24px;
  min-width: 24px;
  position: relative;
}

.desktop-s-1280px .icon {
  height: 22px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 22px;
}

.desktop-s-1280px .arrow-right-circle {
  border: 1px none;
  height: 24px;
  min-width: 24px;
  position: relative;
}

.desktop-s-1280px .card-berita-container {
  align-items: flex-start;
  display: flex;
  height: 280px;
  margin-top: 24px;
  min-width: 1216px;
}

.desktop-s-1280px .card-berita-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 286px;
}

.desktop-s-1280px .frame-195-1 {
  align-self: stretch;
  background-color: var(--concrete);
  border: 1px none;
  border-radius: 8px;
  height: 192px;
  min-width: 286px;
  overflow: hidden;
}

.desktop-s-1280px .image-3 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  left: 116px;
  min-width: 55px;
  padding: 2.8px 2.8px;
  position: relative;
  top: 69px;
}

.desktop-s-1280px .icon-1 {
  height: 49px;
  width: 49px;
}

.desktop-s-1280px .frame-198 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 4px;
}

.desktop-s-1280px .headline {
  align-self: stretch;
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
}

.desktop-s-1280px .frame-196 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 8px;
  padding: 4px 0px;
}

.desktop-s-1280px .address {
  color: var(--gray);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  min-width: 73px;
  white-space: nowrap;
}

.desktop-s-1280px .line-1 {
  height: 14px;
  min-width: 1px;
}

.desktop-s-1280px .x0000-wib {
  color: var(--gray);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  min-width: 60px;
  white-space: nowrap;
}

.desktop-s-1280px .card-berita {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 24px;
  width: 286px;
}

.desktop-s-1280px .frame-195 {
  background-color: var(--concrete);
  border: 1px none;
  border-radius: 8px;
  height: 192px;
  min-width: 286px;
  overflow: hidden;
}

.desktop-s-1280px .heading-container {
  align-items: flex-start;
  display: flex;
  margin-top: 57px;
  min-width: 1216px;
}

.desktop-s-1280px .heading-4 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 56px;
  overflow: hidden;
  width: 827px;
}

.desktop-s-1280px .overlap-group4 {
  height: 44px;
  margin-bottom: 0;
  position: relative;
  width: 827px;
}

.desktop-s-1280px .border-bottom-5 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 827px;
}

.desktop-s-1280px .heading-5 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .border-bottom-6 {
  align-self: stretch;
  height: 1px;
  min-width: 281px;
  object-fit: cover;
}

.desktop-s-1280px .heading-6 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 56px;
  margin-left: 79px;
  overflow: hidden;
  width: 310px;
}

.desktop-s-1280px .overlap-group2 {
  height: 44px;
  margin-bottom: 0;
  position: relative;
  width: 310px;
}

.desktop-s-1280px .border-bottom {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 310px;
}

.desktop-s-1280px .heading-7 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .border-bottom-7 {
  align-self: stretch;
  height: 1px;
  min-width: 135px;
  object-fit: cover;
}

.desktop-s-1280px .flex-row {
  align-items: flex-start;
  display: flex;
  height: 537px;
  margin-top: 40px;
  min-width: 1216px;
}

.desktop-s-1280px .card-berita-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 535px;
  width: 827px;
}

.desktop-s-1280px .card-berita-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  gap: 16px;
  width: 827px;
}

.desktop-s-1280px .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

.desktop-s-1280px .penerbitan-persetuju {
  align-self: stretch;
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
}

.desktop-s-1280px .lorem-ipsum-dolor-si {
  align-self: stretch;
  color: var(--description);
  font-weight: 400;
  line-height: 24px;
}

.desktop-s-1280px .waktu {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
}

.desktop-s-1280px .address-1 {
  color: var(--in-active);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  min-width: 110px;
  white-space: nowrap;
}

.desktop-s-1280px .x1800-wib {
  color: var(--in-active);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .gambar {
  height: 157px;
  min-width: 180px;
  object-fit: cover;
}

.desktop-s-1280px .card-berita-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  gap: 16px;
  margin-top: 32px;
  width: 827px;
}

.desktop-s-1280px .waktu-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
}

.desktop-s-1280px .waktu-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
}

.desktop-s-1280px .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 79px;
  min-height: 537px;
  width: 310px;
}

.desktop-s-1280px .list-profil-eselon {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 192px;
  width: 310px;
}

.desktop-s-1280px .profil-eselon {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 16px;
}

.desktop-s-1280px .frame-photo {
  align-self: stretch;
  border: 1px none;
  height: 40px;
  min-width: 40px;
}

.desktop-s-1280px .frame-photo-1 {
  background-image: url(assets/images/frame-photo@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 100px;
  height: 40px;
  width: 40px;
}

.desktop-s-1280px .nama-dan-jabatan {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 205px;
}

.desktop-s-1280px .nama {
  color: var(--black);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .jabatan {
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.desktop-s-1280px .frame-photo-2 {
  align-self: stretch;
  border: 1px none;
  height: 64px;
  min-width: 40px;
}

.desktop-s-1280px .place-image {
  background-image: url(assets/images/place-image@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 100px;
  height: 40px;
  position: relative;
  top: 12px;
  width: 40px;
}

.desktop-s-1280px .nama-1 {
  color: var(--black);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  width: 205px;
}

.desktop-s-1280px .frame-photo-3 {
  background-image: url(assets/images/frame-photo-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  border-radius: 100px;
  height: 40px;
  width: 40px;
}

.desktop-s-1280px .overlap-group3 {
  height: 335px;
  margin-left: -30.15px;
  margin-top: 40px;
  position: relative;
  width: 370px;
}

.desktop-s-1280px .maklumat-2018-2 {
  height: 282px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 53px;
  width: 370px;
}

.desktop-s-1280px .heading-8 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 83px;
  left: 30px;
  padding: 12px 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop-s-1280px .overlap-group-3 {
  height: 44px;
  position: relative;
  width: 310px;
}

.desktop-s-1280px .heading-9 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .border-bottom-8 {
  align-self: stretch;
  height: 1px;
  min-width: 194px;
  object-fit: cover;
}

.desktop-s-1280px .expand {
  align-items: flex-start;
  background-color: #121a228f;
  border-radius: 8px;
  display: flex;
  height: 47px;
  left: 30px;
  min-width: 48px;
  padding: 9.4px 9.5px;
  position: absolute;
  top: 258px;
}

.desktop-s-1280px .maximize-2 {
  height: 28px;
  width: 29px;
}

.desktop-s-1280px .footer {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  justify-content: center;
  margin-top: 119px;
  min-width: 1280px;
}

.desktop-s-1280px .overlap-group5 {
  height: 625px;
  position: relative;
  width: 1290px;
}

.desktop-s-1280px .bg {
  height: 552px;
  left: 0;
  position: absolute;
  top: 73px;
  width: 1290px;
}

.desktop-s-1280px .frame-202 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 32px;
  left: 75px;
  position: absolute;
  top: 299px;
}

.desktop-s-1280px .alamat-2 {
  height: 96px;
  min-width: 263px;
  position: relative;
}

.desktop-s-1280px .footer-category {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 32px;
  left: 0;
  min-width: 261px;
  position: absolute;
  top: 0;
}

.desktop-s-1280px .overlap-group {
  height: 32px;
  position: relative;
  width: 261px;
}

.desktop-s-1280px .border-bottom-1 {
  height: 1px;
  left: 32px;
  position: absolute;
  top: 31px;
  width: 229px;
}

.desktop-s-1280px .heading-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 261px;
}

.desktop-s-1280px .alamat {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 229px;
}

.desktop-s-1280px .alamat-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .border-bottom-2 {
  align-self: stretch;
  height: 1px;
  min-width: 229px;
}

.desktop-s-1280px .map-pin {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .jalan-percetakan-neg {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 48px;
  width: 261px;
}

.desktop-s-1280px .frame-202-item {
  height: 198px;
  min-width: 261px;
  position: relative;
}

.desktop-s-1280px .list-kontak {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 46px;
}

.desktop-s-1280px .text-13 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .list-kontak-item {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-s-1280px .pengaduanyanblikpomgoid {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-s-1280px .icon-call {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .email {
  height: 102px;
  min-width: 261px;
  position: relative;
}

.desktop-s-1280px .list-kontak-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 46px;
}

.desktop-s-1280px .halobpompomgoid {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .mail {
  border: 1px none;
  height: 24px;
  min-width: 24px;
  position: relative;
}

.desktop-s-1280px .icon-mail {
  height: 18px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 22px;
}

.desktop-s-1280px .frame-58 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 46px;
}

.desktop-s-1280px .x-bintang {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 8px;
  width: 260px;
}

.desktop-s-1280px .icon-star-1 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-2 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-3 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-4 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-5 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .percent {
  color: var(--white);
  flex: 1;
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: right;
  white-space: nowrap;
}

.desktop-s-1280px .icon-star-6 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-7 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-8 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-9 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-10 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-11 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-12 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-13 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-14 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-15 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-16 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-17 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-18 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-19 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-20 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-21 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-22 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-23 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-24 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-25 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .icon-star-26 {
  height: 24px;
  min-width: 24px;
}

.desktop-s-1280px .copyright {
  align-items: center;
  background-color: var(--black);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 72px;
  left: 0;
  position: absolute;
  top: 553px;
  width: 1290px;
}

.desktop-s-1280px .line-2 {
  height: 1px;
  width: 1290px;
}

.desktop-s-1280px .x2021-badan-penga {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 151.0px;
  margin-top: 22px;
  min-width: 397px;
  white-space: nowrap;
}

.desktop-s-1280px .overlap-group2-1 {
  height: 179px;
  left: 155px;
  position: absolute;
  top: 0;
  width: 1116px;
}

.desktop-s-1280px .container {
  background-color: var(--white);
  border: 1px none;
  border-radius: 8px;
  height: 179px;
  left: 0;
  position: absolute;
  top: 0;
  width: 980px;
}

.desktop-s-1280px .x1-bintang {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
  height: 32px;
  left: 587px;
  position: absolute;
  top: 112px;
  width: 529px;
}

.desktop-s-1280px .beri-kami-rating {
  color: var(--black);
  font-weight: 500;
  line-height: 32px;
  margin-top: -1.00px;
  min-width: 110px;
  white-space: nowrap;
}

.desktop-s-1280px .icon-star {
  height: 32px;
  min-width: 32px;
}

.desktop-s-1280px .heading-10 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 56px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 369px;
}

.desktop-s-1280px .overlap-group-4 {
  height: 44px;
  margin-bottom: 0;
  position: relative;
  width: 369px;
}

.desktop-s-1280px .border-bottom-9 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 369px;
}

.desktop-s-1280px .heading-11 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .border-bottom-10 {
  align-self: stretch;
  height: 1px;
  min-width: 265px;
  object-fit: cover;
}

.desktop-s-1280px .heading-12 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 56px;
  left: 586px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 370px;
}

.desktop-s-1280px .overlap-group1-1 {
  height: 44px;
  margin-bottom: 0;
  position: relative;
  width: 370px;
}

.desktop-s-1280px .border-bottom-11 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 370px;
}

.desktop-s-1280px .heading-13 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .border-bottom-12 {
  align-self: stretch;
  height: 1px;
  min-width: 342px;
  object-fit: cover;
}

.desktop-s-1280px .form {
  align-items: flex-start;
  border: 1px none;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 104px;
}

.desktop-s-1280px .input {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--border);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  padding: 8px 144px 8px 16px;
}

.desktop-s-1280px .masukan-anda-terhadap-website-bpom {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.desktop-s-1280px .button {
  align-items: flex-start;
  background-color: var(--brandgreen);
  border: 1px none;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  padding: 8px 16px;

  &:hover {
    cursor: pointer;
    background-color: var(--background);
  }
}

.desktop-s-1280px .kirim {
  color: var(--white);
  font-family: var(--font-family-inter-thin);
  font-size: var(--font-size-s);
  font-weight: 100;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}
