/* screen - format-hubungi-kami */

.format-hubungi-kami {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 1440px;
}

.format-hubungi-kami .nav {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 4;
}

.format-hubungi-kami .navlink {
  background-color: var(--brand--blue);
  border: 1px none;
  height: 40px;
  min-width: 1440px;
  position: relative;
}

.format-hubungi-kami .border {
  height: 1px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 1440px;
}

.format-hubungi-kami .flex-row {
  align-items: center;
  display: flex;
  height: 24px;
  left: 150px;
  min-width: 1140px;
  position: absolute;
  top: 8px;
}

.format-hubungi-kami .menu {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 24px;
}

.format-hubungi-kami .hubungi-kami {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 98px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .faq {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  min-width: 28px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .bahasa {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 699px;
  width: 117px;
}

.format-hubungi-kami .globe {
  height: 18px;
  margin-right: 8px;
  width: 18px;
}

.format-hubungi-kami .place {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4px;
  text-align: center;
  white-space: nowrap;
  width: 69px;
}

.format-hubungi-kami .chevron-down {
  height: 16px;
  margin-right: 2px;
  width: 16px;
}

.format-hubungi-kami .line-1 {
  height: 18px;
  margin-left: 22px;
  width: 1px;
}

.format-hubungi-kami .sosmed {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
  margin-left: 23px;
}

.format-hubungi-kami .social-media {
  height: 20px;
  min-width: 20px;
}

.format-hubungi-kami .social-media-1 {
  border: 1px none;
  height: 20px;
  min-width: 20px;
  position: relative;
}

.format-hubungi-kami .exclude {
  height: 17px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.format-hubungi-kami .exclude-1 {
  height: 12px;
  left: 1px;
  position: absolute;
  top: 4px;
  width: 17px;
}

.format-hubungi-kami .navbar {
  background-color: var(--white);
  border: 1px none;
  height: 136px;
  min-width: 1440px;
  position: relative;
}

.format-hubungi-kami .logo {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 8px;
  left: 596px;
  position: absolute;
  top: 20px;
}

.format-hubungi-kami .logo-1 {
  height: 40px;
  min-width: 40px;
}

.format-hubungi-kami .overlap-group-1 {
  height: 40px;
  position: relative;
  width: 40px;
}

.format-hubungi-kami .vector {
  height: 36px;
  left: 20px;
  position: absolute;
  top: 1px;
  width: 15px;
}

.format-hubungi-kami .vector-1 {
  height: 36px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 27px;
}

.format-hubungi-kami .vector-2 {
  height: 38px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 17px;
}

.format-hubungi-kami .container {
  border: 1.25px none;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.format-hubungi-kami .title {
  letter-spacing: 0;
  line-height: 40.0px;
  margin-top: -1.00px;
  min-width: 116px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .title-1 {
  letter-spacing: 0;
  line-height: 40.0px;
  margin-top: -1.00px;
  min-width: 76px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .overlap-group2 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 1440px;
}

.format-hubungi-kami .line-9 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 55px;
  width: 1440px;
}

.format-hubungi-kami .navlink-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.format-hubungi-kami .overlap-group1 {
  height: 56px;
  position: relative;
  width: 1440px;
}

.format-hubungi-kami .boder-bottom {
  height: 1px;
  left: 0;
  position: absolute;
  top: 55px;
  width: 1440px;
}

.format-hubungi-kami .frame-193 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 8px;
  justify-content: center;
  left: 120px;
  position: absolute;
  top: 0;
}

.format-hubungi-kami .text-link {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 61px;
}

.format-hubungi-kami .label {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-1 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 55px;
}

.format-hubungi-kami .label-1 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 39px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-2 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 130px;
}

.format-hubungi-kami .label-2 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 114px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-3 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 121px;
}

.format-hubungi-kami .label-3 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 105px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-4 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 136px;
}

.format-hubungi-kami .label-4 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 120px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-5 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 141px;
}

.format-hubungi-kami .label-5 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 125px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-6 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 78px;
}

.format-hubungi-kami .label-6 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 62px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-7 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 221px;
}

.format-hubungi-kami .label-7 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 205px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .text-link-8 {
  align-items: center;
  border: 1px none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: space-around;
  padding: 8px;
  width: 124px;
}

.format-hubungi-kami .label-8 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-width: 108px;
  text-align: center;
  white-space: nowrap;
}

.format-hubungi-kami .overlap-group4 {
  height: 198px;
  margin-right: 2.0px;
  margin-top: 176px;
  position: relative;
  width: 1440px;
  z-index: 2;
}

.format-hubungi-kami .bg {
  align-items: flex-end;
  background-color: var(--background);
  border: 1px none;
  display: flex;
  height: 198px;
  left: 0;
  padding: 0.0px 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.format-hubungi-kami .union {
  height: 133px;
  margin-left: 1px;
  width: 105px;
}

.format-hubungi-kami .union-1 {
  height: 133px;
  margin-left: 1229px;
  width: 105px;
}

.format-hubungi-kami .hubungi-kami-1 {
  height: 40px;
  left: 613px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
}

.format-hubungi-kami .pilih-layanan-untuk-menghubunngi-kami {
  color: var(--description);
  font-weight: 400;
  height: 24px;
  left: 572px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 103px;
  white-space: nowrap;
}

.format-hubungi-kami .container-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 1.0px;
  margin-top: 56px;
  width: 749px;
  z-index: 3;
}

.format-hubungi-kami .row {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 32px;
}

.format-hubungi-kami .card-layanan-publik {
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 8px;
  display: flex;
  flex: 1;
  height: 132px;
  min-width: 358.5px;
}

.format-hubungi-kami .frame-165 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 80px;
  margin-left: 16px;
  margin-top: 16px;
  width: 230px;
}

.format-hubungi-kami .based-icons {
  background-color: var(--light-blue);
  border: 1px none;
  border-radius: 100px;
  display: flex;
  height: 48px;
  min-width: 48px;
}

.format-hubungi-kami .headphones {
  height: 24px;
  margin-left: 12px;
  margin-top: 12px;
  width: 24px;
}

.format-hubungi-kami .registrasi-obat {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.format-hubungi-kami .phone-call {
  height: 24px;
  margin-left: 12px;
  margin-top: 12px;
  width: 24px;
}

.format-hubungi-kami .registrasi-obat-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.format-hubungi-kami .globe-1 {
  height: 24px;
  margin-left: 12px;
  margin-top: 12px;
  width: 24px;
}

.format-hubungi-kami .registrasi-obat-2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.format-hubungi-kami .frame-165-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 80px;
  margin-left: 16.5px;
  margin-top: 16px;
  width: 324px;
}

.format-hubungi-kami .users {
  height: 24px;
  margin-left: 12px;
  margin-top: 12px;
  width: 24px;
}

.format-hubungi-kami .unit-layanan-pengaduan-konsumen {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.format-hubungi-kami .footer {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  margin-top: 382px;
  min-width: 1440px;
  z-index: 1;
}

.format-hubungi-kami .overlap-group3 {
  height: 625px;
  position: relative;
  width: 1440px;
}

.format-hubungi-kami .bg-1 {
  height: 552px;
  left: 0;
  position: absolute;
  top: 73px;
  width: 1440px;
}

.format-hubungi-kami .nomor-telpon {
  display: flex;
  flex-direction: column;
  height: 198px;
  left: 443px;
  position: absolute;
  top: 299px;
  width: 261px;
}

.format-hubungi-kami .footer-category {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 32px;
  min-width: 261px;
}

.format-hubungi-kami .overlap-group {
  height: 32px;
  position: relative;
  width: 261px;
}

.format-hubungi-kami .border-bottom {
  height: 1px;
  left: 32px;
  position: absolute;
  top: 31px;
  width: 229px;
}

.format-hubungi-kami .heading {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 261px;
}

.format-hubungi-kami .alamat {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 229px;
}

.format-hubungi-kami .alamat-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.format-hubungi-kami .border-bottom-1 {
  align-self: stretch;
  height: 1px;
  min-width: 229px;
}

.format-hubungi-kami .phone {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .list-kontak {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 152px;
  margin-top: 14.0px;
}

.format-hubungi-kami .text-4 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.format-hubungi-kami .list-kontak-item {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.format-hubungi-kami .pengaduanyanblikpomgoid {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.format-hubungi-kami .email {
  display: flex;
  flex-direction: column;
  height: 102px;
  left: 736px;
  position: absolute;
  top: 299px;
  width: 261px;
}

.format-hubungi-kami .mail {
  border: 1px none;
  height: 24px;
  min-width: 24px;
  position: relative;
}

.format-hubungi-kami .union-2 {
  height: 18px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 22px;
}

.format-hubungi-kami .list-kontak-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 56px;
  margin-top: 14.0px;
}

.format-hubungi-kami .halobpompomgoid {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.format-hubungi-kami .hasil-poling {
  display: flex;
  flex-direction: column;
  height: 198px;
  left: 1029px;
  position: absolute;
  top: 299px;
  width: 261px;
}

.format-hubungi-kami .star-1 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .frame-58 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 152px;
  margin-top: 14.0px;
  width: 260px;
}

.format-hubungi-kami .x-bintang {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 8px;
  width: 260px;
}

.format-hubungi-kami .star-2 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-3 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-4 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-5 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-6 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .percent {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: right;
  white-space: nowrap;
}

.format-hubungi-kami .star-7 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-8 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-9 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-10 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-11 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-12 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-13 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-14 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-15 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-16 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-17 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-18 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-19 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-20 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-21 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-22 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-23 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-24 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-25 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .star-26 {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .alamat-2 {
  display: flex;
  flex-direction: column;
  height: 96px;
  left: 150px;
  position: absolute;
  top: 299px;
  width: 263px;
}

.format-hubungi-kami .map-pin {
  height: 24px;
  min-width: 24px;
}

.format-hubungi-kami .jalan-percetakan-neg {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16.0px;
  width: 261px;
}

.format-hubungi-kami .copyright {
  background-color: var(--black);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 72px;
  left: 0;
  position: absolute;
  top: 553px;
  width: 1440px;
}

.format-hubungi-kami .line-2 {
  height: 1px;
  width: 1440px;
}

.format-hubungi-kami .x2021-badan-penga {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 522px;
  margin-top: 23px;
  white-space: nowrap;
  width: 397px;
}

.format-hubungi-kami .polling {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 16px 32px #121a2229;
  display: flex;
  height: 179px;
  left: 150px;
  min-width: 1140px;
  position: absolute;
  top: 0;
}

.format-hubungi-kami .flex-row-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 179px;
  min-width: 1140px;
  padding: 24px;
}

.format-hubungi-kami .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 128px;
  width: 529px;
}

.format-hubungi-kami .heading-2 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 56px;
  overflow: hidden;
  width: 529px;
}

.format-hubungi-kami .overlap-group-2 {
  height: 44px;
  margin-bottom: 0;
  position: relative;
  width: 529px;
}

.format-hubungi-kami .border-bottom-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 529px;
}

.format-hubungi-kami .heading-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 0;
  position: absolute;
  top: 0;
}

.format-hubungi-kami .heading-3 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.format-hubungi-kami .border-bottom-3 {
  align-self: stretch;
  height: 1px;
  min-width: 265px;
  object-fit: cover;
}

.format-hubungi-kami .form {
  align-items: flex-start;
  border: 1px none;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.format-hubungi-kami .input {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--border);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  padding: 8px 144px 8px 16px;
}

.format-hubungi-kami .masukan-anda-terhadap-website-bpom {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.format-hubungi-kami .button {
  align-items: flex-start;
  background-color: var(--brandgreen);
  border: 1px none;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  padding: 8px 16px;

  &:hover {
    cursor: pointer;
    background-color: var(--background);
  }
}

.format-hubungi-kami .kirim {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.format-hubungi-kami .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  min-height: 120px;
  width: 530px;
}

.format-hubungi-kami .heading-4 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 56px;
  overflow: hidden;
  width: 530px;
}

.format-hubungi-kami .overlap-group1-1 {
  height: 44px;
  margin-bottom: 0;
  position: relative;
  width: 530px;
}

.format-hubungi-kami .border-bottom-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 530px;
}

.format-hubungi-kami .heading-5 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.format-hubungi-kami .border-bottom-5 {
  align-self: stretch;
  height: 1px;
  min-width: 342px;
  object-fit: cover;
}

.format-hubungi-kami .x1-bintang {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
  margin-left: 1px;
  margin-top: 32px;
  width: 529px;
}

.format-hubungi-kami .beri-kami-rating {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  min-width: 115px;
  white-space: nowrap;
}

.format-hubungi-kami .star {
  height: 32px;
  min-width: 32px;
}
